.card-secondary {
  display: flex;
  flex-direction: column;
  /* border: 3px solid red; */
  background: var(--iq-color-background-warm);
  color: var(--iq-color-accent);
  padding: 2rem;
  border-radius: 50px;
  box-shadow: inset -1px -1px 14px -7px rgb(255 255 255),
    inset 1px 1px 14px -7px rgb(0 0 0 / 50%);
  box-shadow: inset 4px 4px 14px -7px rgb(255 255 255),
    inset -4px -4px 14px -7px rgb(0 0 0 / 50%), 3px 3px 10px -8px black;
  background-image: url(https://www.transparenttextures.com/patterns/buried.png);
  background-blend-mode: overlay;
  /* background-image: url("https://www.transparenttextures.com/patterns/subtle-stripes.png"); */
  background-size: cover;
}

card-secondary a {
  color: var(--iq-color-accent);
}
