.outerwrap {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

.iq-title {
  margin: 0 auto;
  font: var(--iq--font-heading);
  letter-spacing: var(--iq-spacing-heading);
}
.iq-subtitle {
  font: var(--iq-font-subheading);
  letter-spacing: var(--iq-spacing-subheading);
  text-transform: capitalize;
  margin: 0 auto;
}

.logo-wrap {
  max-height: 100%;
  position: relative;
  overflow: hidden;
  height: max-content;
  display: flex;
  /* width: 100%; */
  justify-content: center;
  align-items: center;
  margin-left: -0.75em;
}

.logo-wrap svg {
  position: relative !important;
  height: 100% !important;
  align-items: center;
  width: 100% !important;
  top: auto !important;
  left: auto !important;
  max-height: 2.75em !important;
  max-width: max-content;
}

.logo-wrap path {
  fill: ivory !important;
  fill: var(--iq-color-background-warm) !important;
}

.title-wrap {
  margin: 0 1em;
}
