.outer-wrap {
  padding: 0 5vw;
  min-height: 15em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.answer-buttons-wrap {
  margin: 0 auto 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  /* min-height: 10em; */
  /* max-width: 33em; */
}
.answer-buttons-wrap > * {
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-basis: 50%;
  justify-content: center;
  align-items: center;
  height: inherit;
}

.button-container > * {
  width: 100%;
  margin: 0 auto;
  font: var(--iq-font-body-text);
  font-weight: 700;
}
.title {
  font-size: calc(1rem + 0.5vw);
  margin-top: 0;
}

.text {
  font-size: calc(1rem + 0.25vw);
}

@keyframes pulseLight {
  0% {
    box-shadow: 0 0 0px 0px yellow;
  }
  50% {
    box-shadow: 0 0 10px 0px yellow;
  }
  100% {
    box-shadow: 0 0 0px 0px yellow;
  }
}
.answer-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  flex-basis: 50%;
  margin-right: 1em;
}

.answer-button-container p,
.button-container p {
  margin: 0 auto 0.25em;
}

.yes-no-button-wrap {
  display: flex;
  flex-basis: 75%;
}

.yes-no-button-wrap label {
  display: none;
}

.yes-no-button-wrap > input[name="answer-correct"] {
  border-radius: 50px 0 0 50px;
  animation: pulseLight 3s ease infinite;
}

.yes-no-button-wrap > input[name="answer-not-correct"] {
  border-radius: 0 10px 10px 0;
  animation: pulseLight 3s ease infinite;
}
.no-pulse input {
  animation: none !important;
}

.answer-button-container > * {
  flex-basis: 100%;
  flex-grow: 1;
}

pre {
  text-align: left;
}

/* .button-container button:hover {
  transform: scale(1.25, 1);
} */

.answer-buttons-wrap button,
.answer-buttons-wrap input {
  min-height: 100%;
}

.more-about-this-link {
  font-size: 1.25em;
  font-size: calc(0.8rem + 0.5vw);
  background: var(--iq-color-accent);
  color: var(--iq-color-background-warm);
  border-radius: 0 0 50px 50px;
  padding: 0.5em;
  text-decoration: none;
  display: inline-block;
}
