.outerwrap {
  padding: 1em;
}

.iq-title {
  margin: 0 auto;
  font: var(--iq--font-heading);
  letter-spacing: var(--iq-spacing-heading);
}
.iq-subtitle {
  font: var(--iq-font-subheading);
  letter-spacing: var(--iq-spacing-subheading);
  text-transform: capitalize;
  margin: 0 auto;
}
