/****************************************************************
  Color & Font Themes
****************************************************************/

/* Kodchasan font loaded via npm install @fontsource/kodchasan */

/* blue & gray */
/* :root {
  --iq-color-accent: #287094;
  --iq-color-accent-light: #3a9aca;
  --iq-color-accent-dark: #005570;
  --iq-color-background: white;
  --iq-color-background-warm: #d4d4ce;
  --iq-color-background-cool: #c7cfd1;
  --iq-color-background-contrast: #003647;
  --iq--font-heading: small-caps normal 700 3.2rem "Kodchasan", sans-serif;
  --iq--font-heading-2: small-caps normal 700 24px "Kodchasan", sans-serif;
  --iq-spacing-heading: 0.25em;
  --iq-spacing-subheading: 0.375em;
  --iq-font-subheading: small-caps normal 700 1.6rem "Kodchasan", sans-serif;
  --iq-font-body-text: normal 500 1.2rem "Kodchasan", sans-serif;
} */

/* blue & gray 2 */
:root {
  --iq-color-accent: #14739f;
  --iq-color-accent-light: #42b2ed;
  --iq-color-accent-dark: #005570;
  --iq-color-background: white;
  --iq-color-background-warm: #f6eee4;
  --iq-color-background-cool: #c7cfd1;
  --iq-color-background-contrast: #123040;
  --iq--font-heading: small-caps normal 700 3.2rem "Kodchasan", sans-serif;
  --iq--font-heading-2: small-caps normal 700 2.4rem "Kodchasan", sans-serif;
  --iq-spacing-heading: 0.25em;
  --iq-spacing-subheading: 0.375em;
  --iq-font-subheading: small-caps normal 700 1.6rem "Kodchasan", sans-serif;
  --iq-font-body-text: normal 500 1.2rem "Kodchasan", sans-serif;
}

@media screen and (max-width: 900px) {
  :root {
    --iq--font-heading: small-caps normal 700 1.8rem "Kodchasan", sans-serif;
    --iq--font-heading-2: small-caps normal 700 1.6rem "Kodchasan", sans-serif;
    --iq-spacing-heading: 0.125em;
    --iq-spacing-subheading: 0.162em;
    --iq-font-subheading: small-caps normal 700 1.4rem "Kodchasan", sans-serif;
    --iq-font-body-text: normal 500 1.2rem "Kodchasan", sans-serif;
  }
}

/* blue & light-gray */
/* :root {
  --iq-color-accent: #287094;
  --iq-color-accent-light: #3a9aca;
  --iq-color-accent-dark: #005570;
  --iq-color-background: white;
  --iq-color-background-warm: #f6f4f4;
  --iq-color-background-cool: #c7cfd1;
  --iq-color-background-contrast: #003647;
  --iq--font-heading: small-caps normal 700 3.2rem "Kodchasan", sans-serif;
  --iq--font-heading-2: small-caps normal 700 24px "Kodchasan", sans-serif;
  --iq-spacing-heading: 0.25em;
  --iq-spacing-subheading: 0.375em;
  --iq-font-subheading: small-caps normal 700 1.6rem "Kodchasan", sans-serif;
  --iq-font-body-text: normal 500 1.2rem "Kodchasan", sans-serif;
} */

/* blue & light-gray  2 */
/* :root {
  --iq-color-accent: #287094;
  --iq-color-accent-light: #3a9aca;
  --iq-color-accent-dark: #005570;
  --iq-color-background: white;
  --iq-color-background-warm: hsl(60deg 6% 93%);
  --iq-color-background-cool: #c7cfd1;
  --iq-color-background-contrast: #003647;
  --iq--font-heading: small-caps normal 700 3.2rem "Kodchasan", sans-serif;
  --iq--font-heading-2: small-caps normal 700 2.4rem "Kodchasan", sans-serif;
  --iq-spacing-heading: 0.25em;
  --iq-spacing-subheading: 0.375em;
  --iq-font-subheading: small-caps normal 700 1.6rem "Kodchasan", sans-serif;
  --iq-font-body-text: normal 500 1.2rem "Kodchasan", sans-serif;
} */

/****************************************************************
  defaults 
****************************************************************/
html {
  font-size: 10px;
}
* {
  box-sizing: border-box;
}
body {
  background-color: #f6eee4;
  background-image: url(https://www.transparenttextures.com/patterns/buried.png);
  background-image: url("https://www.transparenttextures.com/patterns/solid.png");
  background-image: url("https://www.transparenttextures.com/patterns/subtle-stripes.png");
  /* background-blend-mode: overlay; */
  color: #003647;
  font: normal 500 1.6rem "Kodchasan", sans-serif;
  font: var(--iq-font-body-text);
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.6rem;
}

p {
  word-break: break-word;
}

a {
  color: var(--iq-color-accent);
}
code {
  /* font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace; */
  white-space: pre-wrap;
}

h1 {
  font: var(--iq--font-heading);
  letter-spacing: var(--iq-spacing-heading);
}

h2 {
  font: var(--iq--font-subheading);
  letter-spacing: var(--iq-spacing-subheading);
}

.section-title {
  font: var(--iq--font-heading-2);
  letter-spacing: var(--iq-spacing-heading);
  word-wrap: break-word;
}
