.bottom-bar {
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  left: auto;
  max-width: calc(1200px + 3.3em);
  bottom: 0;
  width: 100%;
  margin: 0 auto;
  background: var(--iq-color-background-warm);
  margin: 0 auto;
  border-radius: 50px 50px 0 0;
  box-shadow: inset 2px 2px 7px -5px rgb(255 255 255),
    inset -1px -1px 7px -5px rgb(0 0 0 / 50%), -1px -1px 15px -9px black;
  overflow: hidden;
  padding: 0 2vw;
  background: var(--iq-color-accent);
  color: var(--iq-color-background-warm);
  font-variant: small-caps;
  z-index: 99;
}

.bottom-bar__xGqPa > * {
  flex-basis: 33.33%;
  justify-content: center;
  align-items: center;
}

@keyframes pulseYellow {
  0% {
    box-shadow: 0 0 0px 0px yellow;
  }
  10% {
    box-shadow: 0 0 10px 3px yellow;
  }
  100% {
    box-shadow: 0 0 0px 0px yellow;
  }
}

@keyframes pulseWhite {
  0% {
    box-shadow: 0 0 0px 0px wheat;
  }
  10% {
    box-shadow: 0 0 5px 3px wheat;
  }
  20% {
    box-shadow: 0 0 0px 0px wheat;
  }
  100% {
    box-shadow: 0 0 0px 0px wheat;
  }
}
.not-logged-in {
  background: var(--iq-color-background-warm);
  color: var(--iq-color-accent);
  padding: 0 3em 0.2em;
  border-radius: 50px;
  box-shadow: inset 1px 1px 3px -2px black, inset -1px -1px 3px -2px white;
  animation: pulseYellow 30s ease 2, pulseWhite 60s ease 30s 10;
}

.right-arrow {
  transform: scale(3, 2) translate(50%, 0%);
  display: inline-block;
}

.login-modal {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
  background-image: radial-gradient(var(--iq-color-accent), #ffffffd4);
  transition: 0.3s;
  opacity: 0;
  pointer-events: none;
}

.login-modal > div > div {
  width: fit-content;
  border-radius: 50px;
  padding: 5vw;
}

.login-modal > div > button {
  border-radius: inherit;
  padding: 1vw;
  font-weight: 700;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  border: none;
  box-shadow: 3px 3px 7px -5px white inset,
    -3px -3px 7px -5px rgba(0, 0, 0, 0.5) inset;
  cursor: pointer;
  font-variant: small-caps;
}

.login-bar-button {
  padding: 0 1em;
  margin-left: 1em;
  background: transparent;
  font: inherit;
  color: inherit;
  border: none;
  transition: 1s all ease;
}

.login-modal > div > div:last-child {
  max-height: min-content;
  padding: 1em 0;
  margin: 1em auto;
}

@media screen and (max-width: 900px) {
  .bottom-bar {
    flex-direction: column;
  }
  .bottom-bar p {
    font-size: calc(6px + 1vw);
  }
  .login-modal > div > div:last-child {
    display: none;
  }
}
