.user-interaction-area {
  margin-bottom: 4em;
}
.workspace-editor-wrap {
  display: flex;
  max-width: 100%;
  position: relative;
  min-height: min-content;
  overflow: hidden;
}

workspace-editor-btn-wrap {
  flex-basis: 100%;
}
.user-interaction-area iframe {
  min-height: 50vh;
}

.editor-tab {
  position: relative;
  min-width: 100%;
  height: 100%;
  transform: translateX(-100%);
  transition: 0.7s all ease;
}

.editor-tab:nth-child(2) {
  transform: translateX(0%);
}

.workspace-editor-wrap .editor-tab.open {
  transform: translateX(0%);
  transition: 0.7s all ease;
}

.workspace-editor-wrap .editor-tab.open:nth-child(2) {
  transform: translateX(-100%);
  transition: 0.7s all ease;
}

.description-text {
  text-align: left;
  padding: 0 2em;
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 2em;
}

.description-text-col-wrap {
  display: flex;
}
