.question-id {
  font-size: 90%;
  opacity: 0.75;
  font-feature-settings: "smcp", "c2sc";
  text-align: center;
  padding: 0.5em;
  transition: 0.2s all ease;
}
.question-id:hover {
  opacity: 1;
  transform: scale(1.1);
}

.grid-item {
  position: relative;
  padding: 1em;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  font: var(--font-subheading);
  font-size: 1rem;
}
.grid-item-title {
  margin-right: 1em;
  opacity: 0.5;
  font-size: 1rem;
}

.grid-item-title::first-letter {
  text-transform: capitalize;
}

.grid-item-text {
  font-weight: 700;
  color: var(--color-accent);
}
.grid-item-child {
  position: relative;
}
.id,
.title-title {
  display: none;
}
.level {
  grid-area: level;
  padding-bottom: 0;
  min-width: max-content;
}
.topic {
  grid-area: topic;
  justify-content: center;

  min-width: max-content;
}
.tags {
  grid-area: tags;
  padding-top: 0;
  min-width: min-content;
  grid-row-end: -1;
}
.tags,
.level {
  grid-area: levelAndTags;
  align-self: center;
  flex-direction: row;
  min-width: fit-content;
}
.time {
  grid-area: time;
}
.title {
  grid-area: title;
  font: var(--font-subheading);
  min-height: 100%;
}
.title-text {
  font: var(--font-subheading);
  min-height: 100%;
}
.question {
  grid-area: question;
}
.answer {
  grid-area: answer;
}

.answer > .grid-item-text,
.question > .grid-item-text {
  font: var(--font-body-text);
  font-weight: 500;
  border-radius: 27px;
  border: 1px solid var(--color-accent);
  padding: 1em 2em;
  margin: 1em auto;
  width: 100%;
  max-width: 100%;
}
.question,
.answer {
  background: var(--color-background);
  color: var(--color-background-contrast);
}
.search {
  grid-area: search;
}
.credit {
  grid-area: credit;
}
.link {
  grid-area: link;
}
button.edit {
  /* Set within prop passed to button component */
}

.button-container {
  display: flex;
  flex-direction: column;
}

.deleted {
  border-radius: 3px !important;
  font-size: 1.5em !important;
  box-shadow: inset 1px 1px 7px -5px black, inset -4px -4px 7px -5px white !important;
  padding: 1em !important;
  opacity: 0.7 !important;
}
