.outer-wrap {
  padding: 0 5vw;
  min-height: 15em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* 
.inner-wrap {
  padding: 0 5vw;
  min-height: 15em;
  display: flex;
  flex-direction: column;
  justify-content: center;
} */

.title {
  font-size: calc(1rem + 0.5vw);
  margin-top: 0;
}

.text {
  font-size: calc(1rem + 0.25vw);
}

.answer-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 1em;
}

.answer-button-container > .subtitle {
  margin: 0 1em 0 0;
}

pre {
  text-align: left;
}
