.footer-container {
}

.footer-column a {
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
  display: inline-block;
  transform-origin: left;
  transition: all 0.2s ease;
  color: var(--iq-color-accent);
  background: var(--iq-color-background-warm);
  box-shadow: 3px 3px 7px -5px white inset,
    -3px -3px 7px -5px rgba(0, 0, 0, 0.5) inset;
  border-radius: 0 10px 10px 0;
  padding: 0.5em 1em;
}
.category-headings {
  background: var(--iq-color-accent);
  box-shadow: 3px 3px 7px -5px white inset,
    -3px -3px 7px -5px rgba(0, 0, 0, 0.5) inset;
  border-radius: 10px 0 0 10px;
  padding: 0.5em 1em;
}
.footer-column a:hover {
  text-shadow: 0 0 3px white;
  transform: scale(1.062, 1);
}

@media screen and (max-width: 900px) {
  .footer-column > * {
    flex-direction: column;
    display: flex;
  }

  .footer-column span,
  .footer-column a {
    border-radius: 50px;
  }
}
