.new-question-button-wrap {
  width: 100%;
}

.new-question-button-wrap button {
  width: 100%;
  margin: 0 auto;
}

.new-question-button-wrap button:hover {
  text-shadow: 0 0 1px;
  /* transform: scale(1.1); */
  transform: none;
  transition: 0.1s all ease;
  background: var(--iq-color-accent-light) !important;
  color: var(--iq-color-background-warm) !important;
  box-shadow: rgb(255, 255, 255) 7px 7px 14px -7px inset,
    rgba(0, 0, 0, 0.5) -7px -7px 14px -7px inset, 14px 14px 14px -7px black !important;
}
