.study-notes-page {
  width: 95vw;
  min-width: min-content;
  max-width: 1200px;
}
.study-notepad-container p {
  max-width: 550px;
  margin: 0 auto;
}

.study-notes-page .paper {
  max-height: none;
}

footer {
  margin-top: 30px;
  text-align: center;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.6);
}

footer a {
  color: rgba(255, 255, 255, 0.8);
}

.study-list-item:hover:after {
  transform: scale(1, 1.25);
  border: 1px solid var(--iq-color-accent);
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  content: "";
  height: 100%;
  color: white;
  pointer-events: none;
}
