.form-group-wrap {
  display: flex;
  flex-wrap: wrap;
  border-radius: inherit;
  overflow: hidden;
  margin: 1em;
  box-shadow: inset -3px -3px 10px -7px white, inset 3px 3px 10px -7px black;
  padding: 1em 0em 3em;
}

.form-group-wrap > * {
  flex-grow: 1;
  margin: 1rem auto;
  display: flex;
  justify-content: left;
  min-height: 4em;
  flex-direction: column;
  flex-basis: 25%;
}

.form-group-wrap > * > *:not(label) {
  min-height: 100%;
}

.form-question-container,
.form-answer-container {
  flex-basis: 100%;
}

.close-question-form-button {
  position: absolute;
  top: 1em;
  right: 1em;
  background: transparent;
  color: inherit;
  border: none;
  font-size: 1.6rem;
  font-weight: 700;
}

.close-question-form-button:after {
  content: "Cancel this question";
  position: absolute;
  top: 0;
  right: 0;
  padding: 1em;
  border-radius: 25px;
  box-shadow: 2px 2px 3px -2px rgba(0, 0, 0, 0.502),
    inset 3px 3px 3px -2px rgb(255, 255, 255),
    inset -3px -3px 3px -2px rgba(0, 0, 0, 0.502);
  background: var(--iq-color-background-warm);
  color: var(--iq-color-accent);
  transform: scale(0);
  transition: 0.3s all ease;
  transform-origin: 80% 1em;
}
.close-question-form-button:hover:after {
  content: "Cancel this question";
  position: absolute;
  top: 1em;
  right: 1.25em;
  padding: 1em;
  border-radius: 25px 0 25px 25px;
  box-shadow: 2px 2px 3px -2px rgba(0, 0, 0, 0.502),
    inset 3px 3px 3px -2px rgb(255, 255, 255),
    inset -3px -3px 3px -2px rgba(0, 0, 0, 0.502);
  background: var(--iq-color-background-warm);
  color: var(--iq-color-accent);
  transform: scale(1);
  transition: 0.2s all ease;
}
