:root {
  --color-accent: #287094;
  --color-accent-light: #3a9aca;
  --color-accent-dark: #005570;
  --color-background: white;
  --color-background-warm: #d4d4ce;
  --color-background-cool: #c7cfd1;
  --color-background-contrast: #003647;
  --font-heading: small-caps normal 700 32px "Kodchasan", sans-serif;
  --font-heading-2: small-caps normal 700 24px "Kodchasan", sans-serif;
  --spacing-heading: 0.25em;
  --spacing-subheading: 0.375em;
  --font-subheading: small-caps normal 700 16px "Kodchasan", sans-serif;
  --font-body-text: normal 500 12px "Kodchasan", sans-serif;
}

html {
  font-size: 10px;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font: var(--font-body-text);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  color: var(--color-accent);
}
code {
  /* font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace; */
  white-space: pre-wrap;
}

.section-title {
  font: var(--font-heading-2);
  letter-spacing: var(--spacing-heading);
}
