.iq-history-backup {
  font-weight: 700;
  margin-bottom: 1em;
}

.correct-incorrect-unmarked {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}

.score-item {
  margin: 0 0.5em;
}

.reset-history-button-wrap input:hover {
  opacity: 1;
}

.reset-history-button-wrap input {
  opacity: 0.5;
  border-radius: 10px;
}

.iq-history-backup ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  max-width: 100%;
  align-items: center;
  justify-content: center;
  padding: 0;
  font-variant: small-caps;
}

.iq-history-backup li {
  flex-basis: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  max-width: max-content;
  margin: 0 auto;
}

.history-list h3 {
  margin: 0;
  text-align: right;
}
.history-list .outer-container,
.special-note {
  opacity: 0.5;
  transition: 0.2s all ease;
}
.history-list .outer-container:hover,
.special-note:hover {
  opacity: 1;
}
.history-list .row-container {
  /* border: 1px solid rgb(0, 34, 255); */
}
.history-list .date-wrap {
  /* border: 1px solid rgb(242, 255, 0); */
  min-width: 8em;
  display: flex;
  justify-content: right;
}
.history-list .stat-container {
  /* border: 1px solid rgb(0, 221, 255); */
  margin-left: 2em;
  min-width: 8em;
  display: flex;
  justify-content: right;
}
.history-list .stat-container > h3 {
  margin: 0 1em;
}
.history-list .stat-inner-wrap {
  /* border: 1px solid rgb(0, 255, 38); */
}

.history-list .stat-inner-wrap p {
  margin: 0 1em;
  width: 3em;
  text-align: left;
}

.user-not-logged-in {
  max-width: max-content;
  margin: 0 auto;
  background: var(--iq-color-background-warm);
  color: var(--iq-color-accent);
  padding: 0.25em 1em;
  border-radius: 50px;
  box-shadow: inset 2px 2px 3px -2px black, inset -2px -2px 5px -2px white,
    2px 2px 5px -2px white;
}

@media screen and (max-width: 900px) {
  .iq-history-backup .stat-correctAmount,
  .iq-history-backup .stat-incorrectAmount,
  .iq-history-backup .stat-unmarkedAmount {
    display: none;
  }
}
