.iq-session-results {
  font-weight: 700;
  margin-bottom: 1em;
}

.correct-incorrect-unmarked {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}

.score-item {
  margin: 0 0.5em;
}

.reset-history-button-wrap input:hover {
  background-color: #942828;
  color: #fff;
  opacity: 1;
  transform: none;
}

.reset-history-button-wrap input {
  opacity: 0.5;
  border-radius: 10px;
  text-transform: uppercase;
}
