.slide-button-wrap {
  display: flex;
  margin: 0.5em auto;
  justify-items: center;
  max-width: 100%;
}

.slide-button-inner-wrap {
  display: flex;
  max-width: 100%;
  overflow: hidden;
  flex-wrap: wrap;
  justify-content: start;
  flex-grow: 1;
}

.slide-button-inner-wrap-title {
  width: 100%;
  min-width: max-content;
}
