.question-text-wrap {
  padding: 0 5vw;
  min-height: 15em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.question-section-title {
  margin-bottom: 2em;
}
.question-title {
  font-size: calc(1rem + 0.5vw);
  margin-top: 0;
}

.question-text {
  font-size: calc(1rem + 0.25vw);
}

.code {
  max-width: 100%;
  overflow: hidden;
  white-space: break-spaces;
}

.help,
.question-text {
  max-width: 800px;
  margin: 0 auto;
  text-align: left;
}
