.study-notes-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: top;
  min-height: fit-content;
  min-height: 400px;
}
.title {
  flex-basis: 100%;
}
.study-notes-container > *:not(.title) {
  position: relative;
  flex-basis: 48%;
  margin: 0 1%;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
}

.study-notes-container > *:not(.title) > * {
  width: 100%;
}

.study-notes-container > * .title {
  flex-basis: min-content;
  margin: 0;
}

.note-pad-textarea,
.study-list {
  flex-grow: 1;
}

.study-list {
  list-style: none;
}
